#title {
  background-color: #ff4c68;
  color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;

}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation-bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 18px 0 18px;
}
.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

/* download-buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
/* feature-section */
h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
  color: Black;
}
.feature-icon {
  color: #ef8172;
  margin-bottom : 5%;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-div {
  text-align: center;

}

#features {
  background-color: #fff;
  color: #8f8f8f;
  padding: 7% 15% ;
  position: relative;
  z-index: 1;
}


/* testimonial section */
h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;

}
#testimonials {

  text-align: center;
  background-color:#ef8172;
  color: #fff;
}
.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item {
  padding: 7% 15% ;
}
/* pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}
#cta {
  background-color: #ff4c68;
  padding : 7% 15%;
  text-align: center;
}

#cta-h3 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 900;
  color: #fff;
}
#footer {
  text-align: center;
  padding : 7% 15%;
  color: grey;
}

.footer-icons {
  margin: 0 1rem 1rem;
}
